<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Каталог</title>
    <link rel="stylesheet" href="/css/GlobalStyleSheet.css">
</head>
<body>


<h1>Каталог</h1>
<h2>Сортировка</h2>
<div class="sort"><a href="/catalog?sortby=year">по году</a></div>
<div class="sort"><a href="/catalog?sortby=ru" class="sort">по названию</a></div>
<div class="sort"><a href="/catalog?sortby=duration" class="sort">по продолжительности</a></div>
<h2>Фильтр</h2>
<details id="Filter_by_genre" align="center">
    <summary>по жанру</summary>
    <script src="/javascript/GenresTableProducer.js" defer></script>
</details>
<details id="Filter_by_year" align="center">
    <summary>по году</summary>
    <script src="/javascript/YearsTableProducer.js" defer></script>
</details>
<details id="Filter_by_country" align="center">
    <summary>по стране</summary>
    <script src="/javascript/CountriesTableProducer.js" defer></script>
</details>
<div class="search form">
    <form>
        <p><input type="text" name="search" placeholder="Название" size="18" /></p>
        <button type="submit">Найти</button>
    </form>
</div>

<div id="Table_of_entities" align="center">
    <script src="/javascript/CatalogTableProducer.js" defer>

    </script>
</div>
<footer>
    <p>©2025 Kukuruzvelt. Никаких прав, только обязанности.</p>
</footer>
</body>
</html>